<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="../static/styles/register.css">
</head>
<header>
    <nav class="navbar">
      <h2 class="logo"><a href="{{ url_for('views.home') }}">AVORY</a></h2>
        <ul class="all-links">
          
          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="{{ url_for('views.about_us') }}">About Us</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
</header>

<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <h1>Signup here</h1>
      <form action="{{ url_for('auth.signup') }}" method="POST">
        <input type="text" placeholder="Enter your email" name="email" required>
        <input type="text" placeholder="Create a username" name="username" required>
        <input type="password" placeholder="Confirm your password" name="password" required>
        <input type="submit" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
        <a href="{{ url_for('auth.login') }}" for="check">Login</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
