<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/edit_profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="sidenav">
        <a href="/dashboard/{{ profile.id }}"><i class="fas fa-user"></i> Profile</a>
        <a href="#"><i class="fas fa-envelope"></i> Chats</a>
        <a href="{{ url_for('fashion.home', profile_id=profile.id) }}"><i class="fas fa-search"></i> Find Dress Code</a>
        <a href="#"><i class="far fa-heart"></i> Saved</a>
        <a href="#"><i class="fas fa-bell"></i> Notifications</a>
        <a href="#"><i class="fas fa-cog"></i> Settings</a>
        <a href="#"><i class="fas fa-question-circle"></i> FAQ</a>
        <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
    
    <div class="main-content">
        
        <div class="form-container">
            <form method="POST" action="/profile/{{ profile.id }}">
                <label>Username:</label>
                <input type="text" name="username" value="{{ profile.username }}" required>
                <br>
                <label>Height:</label>
                <input type="number" name="height" value="{{ profile.height }}" required>
                <br>
                <label>Weight:</label>
                <input type="number" step="0.01" name="weight" value="{{ profile.weight }}" required>
                <br>
                <label>Complexion:</label>
                <input type="text" name="complexion" value="{{ profile.complexion }}">
                <br>
                <label>Age:</label>
                <input type="number" name="age" value="{{ profile.age }}">
                <br>
                <label>Bio:</label>
                <textarea name="bio">{{ profile.bio }}</textarea>
                <br>
                <div class="button-container">
                    <button type="submit">Save</button>
                </div>
            </form>
            
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>
